
.container{
  background-color: rgb(250, 246, 229);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax;
  box-sizing: border-box;
}
.container >form{
  display: flex;
  flex-direction: column;
}
input,textarea,button{
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.214);
  border-radius: 5px;
  margin: 10px;
}
button{
  border: none;
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
}
.container>h1{
  text-align: center;
  margin-bottom: 20px;
}
.task{
  display: flex;
  margin: 10px;
  background-color:white;
}
.task>div{
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}
.task > button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task>button:hover{
  background-color: red;
}
.task >span{
  color: rgb(53, 36, 36);
}